<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="This application searches for public GIST of a particular users and returns the file and fork information.">
  <meta name="author" content="Hamza Tariq">
  <title>GIST APP</title>
  <link rel="shortcut icon" href="{% static 'GitHub-Mark-Light-32px.png' %}" type="image/x-icon">
</head>

<body>
  <h1>A Public Service GIST API APP</h1>
</body>

</html>
